body {
  background: #141414 !important;
  color: #ffffff !important;
}

.card, .card-content, .image-container {
  position: relative;
}

.card {
  transition: transform 0.3s ease;
}

.card-body {
  height: 50%;
}

.card:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 8px rgba(0,0,0,0.2);
}

.image-container {
  overflow: hidden;
}

.img-fluid {
  transition: transform 0.3s ease;
}

.image-container:hover .img-fluid {
  transform: scale(1.1);
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 40%;
  background: rgba(0, 0, 0, 0.7);
  color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: opacity 0.5s ease;
}

.card:hover .overlay, .image-container:hover .overlay {
  opacity: 1;
}
